__pycache__
dataset-unprocessed
foto
unused_code
file_output
dataset/p
dataset/n
Custom Object Detection
colorfilters-master
dataset_baru
dataset_lama
dataset_gawe_dewe
dataset_terbaru
file_output
Foto
tutorial-haartraining
web